---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import AboutMe from '../components/AboutMe.astro';

import BriefCase from '../components/icons/BriefCase.astro';
import UserIcon from '../components/icons/User.astro';
---

<Layout>
  <main class="flex flex-col items-center justify-center mt-20">
    <SectionContainer id="hero" class="section-animate">
      <Hero />
    </SectionContainer>
    <SectionContainer id="experiencia" class="mt-10 section-animate">
      <h2 class="flex items-center gap-2 font-bold text-2xl text-dracula-purple mb-7">
        <BriefCase />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="proyectos" class="mt-5 section-animate">
      <h2 class="flex items-center gap-2 font-bold text-2xl text-dracula-purple mb-7">
        <BriefCase />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="sobre-mi" class="mt-5 section-animate">
      <h2 class="flex items-center gap-2 font-bold text-2xl text-dracula-purple mb-5">
        <UserIcon />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
