<h1>Sobre mí</h1>
<p>
  Soy un desarrollador web full stack con una pasión por crear soluciones
  innovadoras y eficientes. Mi enfoque principal es el desarrollo de
  aplicaciones web modernas y escalables.
</p>
