<article
  class="flex flex-col md:flex-row items-center justify-center gap-8 text-dracula-foreground mx-auto"
>
  <div class="space-y-4 text-left">
    <p>
      Hola, soy <span class="text-dracula-pink font-semibold"
        >Juan D. Gonzalez</span
      >, estudiante en proceso de graduación de <span
        class="text-dracula-yellow">Ingeniería Electrónica</span
      > en Villavicencio, Colombia.
    </p>
    <p>
      Mi interés por la programación comenzó al experimentar con <span
        class="text-dracula-green">Arduino</span
      >. Desde entonces, desarrollar software se ha convertido en una pasión que
      disfruto profundamente. Me encanta aprender constantemente y, sobre todo,
      dar vida a cada idea que pasa por mi mente.
    </p>
    <p>
      Inicié mi carrera profesional hace seis meses como <span class="text-dracula-orange">desarollador web full stack</span>, y estoy muy agradecido con <a
        href="https://helixsoft.com.co/"
        target="_blank"
        class="text-dracula-cyan hover:underline font-medium">HelixSoftware</a
      > por brindarme la oportunidad de entrar en este mundo tan amplio, rodeado
      de personas increíbles.
    </p>
  </div>
  <div
    class="relative overflow-hidden rounded-[60%_40%_30%_70%/60%_30%_70%_40%] border-4 border-dracula-cyan/90 shadow-xl"
  >
    <img
      src="/me.webp"
      alt="Imagen 1"
      class="w-full h-full object-cover"
    />
  </div>
</article>

