---
const currentPath = Astro.url.pathname;

const links = [
  {
    title: "Inicio",
    label: "inicio",
    href: "/",
  },
  {
    title: "Blog",
    label: "blog",
    href: "/blog",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    href: "/projects",
  },
  {
    title: "Certificados",
    label: "certificados",
    href: "/certificates",
  },
  {
    title: "Contáctame",
    label: "contacto",
    href: "mailto:juandavidgonzalezurrego@gmail.com",
  },
];

---

<footer class="bg-light-comment/20 dark:bg-dracula-comment/20 rounded-lg shadow py-4 footer-animate">
  <div class="w-full mx-auto max-w-screen-xl px-4 flex flex-col md:flex-row md:items-center md:justify-between gap-4">
    <div class="text-sm sm:text-center text-light-foreground/70 dark:text-dracula-foreground/70">
      © 2025 <span class="text-dracula-purple font-bold dark:text-dracula-purple">Juan D. Gonzalez</span>. Todos los derechos reservados.
    </div>

    <nav class="flex flex-wrap items-center justify-center md:justify-end gap-x-6 gap-y-3">
      {
        links.map((link) => (
          <a
            href={link.href}
            aria-label={link.label}
            class={link.href !== currentPath ? `text-sm font-medium text-light-foreground/70 dark:text-dracula-foreground/70 hover:text-dracula-cyan dark:hover:text-dracula-cyan hover:underline transition-colors` : `text-sm font-medium text-dracula-cyan dark:text-dracula-cyan hover:underline transition-colors`}
          >
            {link.title}
          </a>
        ))
      }
    </nav>
  </div>
</footer>
