---
const links = [
  {
    title: "Experiencia",
    label: "experiencia",
    href: "#experiencia",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    href: "#proyectos",
  },
  {
    title: "Sobre mí",
    label: "sobre-mi",
    href: "#sobre-mi",
  },
  {
    title: "Contacto",
    label: "contacto",
    href: "mailto:juandavidgonzalezurrego@gmail.com",
  },
];
---

<header class="w-full flex justify-center items-center fixed top-0 z-50 mt-2">
  <nav
    class="mt-2 backdrop-blur-sm bg-dracula-comment/20 border-2 border-dracula-purple/30 rounded-full px-4 py-3 flex items-center justify-between navbar-animate"
  >
    {
      links.map((link) => (
        <a
          href={link.href}
          aria-label={link.label}
          class="px-2 text-dracula-foreground/80 text-sm font-bold hover:text-dracula-purple hover:scale-110 transition-all duration-200 ease-in-out"
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>
