---
import MailIcon from "./icons/Mail.astro";
import LinkedInIcon from "./icons/Linkedin.astro";
import SocialLink from "./SocialLink.astro";
import GithubIcon from "./icons/Github.astro";

const altName = "Juan Gonzalez";

const isAvailable = true;
---

<div class="max-w-2xl">
  <div class="flex gap-4 items-center mb-4">
    <img
      src="/me.webp"
      alt={altName}
      class="rounded-full shadow-lg size-24 object-cover"
    />
    <div class="flex flex-col gap-2">
      <span
        class="bg-dracula-green/10 border border-dracula-green/80 text-dracula-green text-xs font-medium ml-2 px-4 py-2 rounded-full cursor-pointer hover:bg-dracula-green/20 hover:scale-105 transition-all duration-200 ease-in-out"
        >Disponible para trabajar</span
      >
      {
        !isAvailable && (
          <span class=" text-dracula-orange/90 px-4 py-1 text-xs font-medium rounded-lg text-center">
            Contrata a mis
            <a
              href="/friends/"
              target="_blank"
              class="text-dracula-red font-bold hover:text-dracula-orange transition-all duration-200 ease-in-out"
            >
              amigos
            </a>
          </span>
        )
      }
    </div>
  </div>

  <h1 class="text-4xl mb-2 font-extrabold">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-dracula-pink to-dracula-purple"
    >
      Soy, Juan Gonzalez
    </span>
  </h1>
  <p class="text-lg text-dracula-foreground/80">
    Desarrollador <span class="font-bold text-dracula-cyan">web full stack</span> con una pasión por la tecnología
    y el desarrollo de software. Cuento con <span class="font-bold text-dracula-orange">6 meses de experiencia</span> trabajando
    en el desarrollo de aplicaciones web, utilizando tecnologías modernas como <span class="font-bold text-dracula-green">Django</span
    > para el backend y <span class="font-bold text-dracula-yellow">Vue.js</span> con Composition API para el frontend.
      Actualmente resido en <span class="font-bold text-dracula-purple">Villavicencio, Colombia</span>.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialLink href="mailto:juandavidgonzalezurrego@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialLink>
    <SocialLink href="https://www.linkedin.com/in/juan-gonzalez-067aa728b/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialLink>
    <SocialLink href="https://github.com/jdgonzalez03">
      <GithubIcon class="size-4" />
      GitHub
    </SocialLink>
  </nav>
</div>
