---
const altName = "Juan Gonzalez";
---

<div class="max-w-xl">
    <div class="flex gap-4 items-center mb-4">
        <img src="/me.webp" alt={altName} class="rounded-full shadow-lg size-24 object-cover" />
        <span class="bg-dracula-green/10 border border-dracula-green/80 text-dracula-green text-xs font-medium ml-2 px-4 py-2 rounded-full cursor-pointer hover:bg-dracula-green/20 hover:scale-105 transition-all duration-200 ease-in-out">Disponible para trabajar</span>
    </div>

  <h1 class="text-4xl font-extrabold">
    <span
      class="bg-clip-text text-transparent bg-gradient-to-r from-dracula-pink to-dracula-purple"
    >
      Soy, Juan Gonzalez
    </span>
  </h1>
  <p class="text-lg text-dracula-foreground/80">
    Soy un desarrollador web full stack con una pasión por la tecnología y el
    desarrollo de software.
  </p>
</div>
