<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-sm border border-dracula-purple dark:border-dracula-purple bg-dracula-comment/20 dark:bg-dracula-comment/20 hover:bg-dracula-comment/30 dark:hover:bg-dracula-comment/30 hover:text-dracula-purple dark:hover:text-dracula-purple rounded-full hover:scale-105 transition-all duration-200 ease-in-out text-dracula-foreground dark:text-dracula-foreground"
>   
  <slot />
</a>
