---
import "../styles/global.css";
---	

<!doctype html>
<html lang="es" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/public/me.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Gonzalez" />
		<meta name="title" content="Juan Gonzalez - Desarrollador Web" />
		<meta name="description" content="Este es mi sitio web personal, donde comparto mis pensamientos y proyectos. Soy un desarrollador web apasionado por construir sitios web hermosos y funcionales." />
		<meta name="keywords" content="blog, astro, juan gonzalez, portfolio, web developer" />
		<title>Juan Gonzalez - Desarrollador Web</title>
	</head>
	<body class="min-h-full bg-dracula-background text-dracula-foreground antialiased pt-4 flex items-center">
		<main class="container mx-auto px-4 py-8">
			<slot />
		</main>
	</body>

	<script>
		import gsap from "gsap";
		gsap.from(".code-icon", {
			scale: 0.5,
			opacity: 0,
			duration: 0.5,
			ease: "back.out(1.7)",
			delay: 0.2
		});

		const tl = gsap.timeline({ delay: 0.4 });

		tl.from(".on-load-animation", {
			y: 50,
			opacity: 0,
			scale: 0.95,
			duration: 1,
			ease: "power3.out",
			stagger: 0.15
		});

	</script>
</html>
