---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Gonzalez" />
		<meta name="title" content="Juan Gonzalez - Web Developer" />
		<meta name="description" content="This is my personal website, where I share my thoughts and projects. I'm a web developer with a passion for building beautiful and functional websites." />
		<meta name="keywords" content="blog, astro, juan gonzalez, portfolio, web developer" />
		<title>Juan Gonzalez - Web Developer</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
