---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="es" class="h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/public/me.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Juan Gonzalez" />
		<meta name="title" content="Juan Gonzalez - Desarrollador Web" />
		<meta name="description" content="Este es mi sitio web personal, donde comparto mis pensamientos y proyectos. Soy un desarrollador web apasionado por construir sitios web hermosos y funcionales." />
		<meta name="keywords" content="blog, astro, juan gonzalez, portfolio, web developer" />
		<title>Juan Gonzalez - Desarrollador Web</title>
	</head>
	<body class="min-h-full bg-dracula-background text-dracula-foreground antialiased pt-4">
		<Header />
		<main class="container mx-auto px-4 py-8">
			<slot />
		</main>
		<Footer />
		<!-- <script type="module" src="/src/utils/gsap.js"></script> -->
		<script>
			import gsap from "gsap";
			import { ScrollTrigger } from "gsap/ScrollTrigger";
			gsap.registerPlugin(ScrollTrigger);

			window.addEventListener("DOMContentLoaded", () => {
			// Navbar
			gsap.from(".navbar-animate", {
				y: -40,
				opacity: 0,
				duration: 1,
				ease: "power3.out"
			});

			// Secciones
			gsap.utils.toArray(".section-animate").forEach((el, i) => {
				gsap.from(el as HTMLElement, {
				y: 40,
				opacity: 0,
				duration: 1,
				delay: 0.2 + i * 0.2,
				ease: "power3.out"
				});
			});

			// Footer
			gsap.from(".footer-animate", {
				y: 60,
				opacity: 0,
				duration: 1,
				ease: "power3.out",
				scrollTrigger: {
					trigger: ".footer-animate",
					start: "top bottom",
					toggleActions: "play none none none"
				},
				onComplete: () => {
					gsap.set(".footer-animate", { clearProps: "all" });
				}
			});
			});
		</script>
	</body>
</html>
